a {
	color: #ffffff;
	border-style: outset;
	border-color: #666666;
	background-color: #969696;
	padding: 2px;
	margin: 10px;
	line-height: 30px;
	text-decoration: none;
	font-family: Arial, sans-serif;
}

a:hover {
	border-style: inset;
}