h1 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 36px;
}

h2 {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 24px;
}

p {
	margin-left: 35%;
	margin-right: 35%;
	font-family: Arial, sans-serif;
	font-size: 18px;
}

a {
	margin-left: 35%;
	margin-right: 35%;
	font-family: Arial, sans-serif;
	color: #0000ff;
	font-size: 18px;
}

a.inline {
	font-family: Arial, sans-serif;
	color: #0000ff;
	font-size: 18px;
}

pre {
	border-style: solid;
	border-color: #303030;
	color: #d6d6d6;
	background: #303030;
	margin-left: 35%;
	margin-right: 35%;
    font-size: 18px;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

ul {
    border-style: solid;
    border-color: #303030;
    font-size: 18px;
    margin-left: 35%;
    margin-right: 35%;
}

li {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

div.gameLink {
	border-style: solid;
	border-color: #303030;
	text-align: center;
}