h1 {
	text-align: center;
	font-family: Arial, sans-serif;
}

h2 {
	text-align: center;
	font-family: Arial, sans-serif;
}

p {
	padding-left: 35%;
	padding-right: 35%;
	font-family: Arial, sans-serif;
}